* {
    margin: 20px;
}

body {
    background-color: #3252e4;

}

.business {
    background-color: #7700ff;
    border: 3px solid black;
    width: 80%;
    margin-left: 10%;
}

.info {
    font-size: 25px;
    box-sizing: border-box;
    border: black;
}

h1 {
    font-size: 30px;
}

.hand {
    max-width: 50%; 
    min-width: 300px;
    width: 300px;
    height: auto;
}

.work {
    text-justify: auto;
    color: lightblue;
    border: darkblue;

}

button {
    background-color: rgb(204, 178, 139);
    border-radius: 10px;
    margin-left: 0%;
}

.button {
    display: inline-block;
    width: 100%;

}

.text {
    color: rgb(20, 221, 211);
}